{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if latest_question_list %}
    <ul>
    {% for yaq in latest_question_list %}
        <li>{{ yaq.q }} @{{yaq.region_string}} <a href="{{yaq.url}}">_url_</a> [{{yaq.date_from}}-{{yaq.date_to}}]
        {% if yaq.parsed %}
            -> {{yaq.n_docs}}, parsed {{yaq.date_parsed}}.
        {% else %}
            , not parsed.
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No YaQs are available.</p>
{% endif %}